
.search-filter {
  margin-top: 10px;
}

.shirt-size {
  text-align: center;
}

.check-in-header {

}

.checkin-info {
  margin-top: 30px;
}

.status-number {
  margin-right: 40px;
}

.status-header {
  font-weight: 400;
}


.fa-custom {
  color: #008000
}
